body{
    background: rgb(137,228,91);
    background: linear-gradient(0deg, rgba(137,228,91,1) 49%, rgba(28,115,218,1) 86%);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(205,58,58);
    background: linear-gradient(23deg, rgba(205,58,58,1) 27%, rgba(88,63,63,1) 51%, rgba(200,98,61,1) 77%);
    animation:jump 5s linear 1 , move 5s linear 1;
    animation-delay: 1s;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}


.shadow {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 10px -75px 20px 30px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 10px;
    left: 20px;
    animation:move 5s linear 1, shadow 5s linear 1;
    animation-delay: 1s;
}

@keyframes shadow {
    25% {
        box-shadow: 13px -75px 5px 5px rgba(0, 0, 0, .4);
    }

    43% {
        box-shadow: 16px -75px 15px 25px rgba(0, 0, 0, .2);
    }

    60% {
        box-shadow: 19px -75px 5px 5px rgba(0, 0, 0, .4);
    }

    75% {
        box-shadow: 21px -75px 15px 20px rgba(0, 0, 0, .2);
    }

    90% {
        box-shadow: 23px -75px 5px 5px rgba(0, 0, 0, .4);
    }
    100% {
        box-shadow: 27px -75px 5px 5px rgba(0, 0, 0, .4);
    }

}




@keyframes jump {
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    25% {
        transform: translate(0,500px) rotate(180deg);
        width: 100px;
        height: 100px;
    }
    
    28% {
        transform: translate(0,500px) rotate(190deg);
        width: 110px;
        height: 70px;
    }
       
    29% {
        transform: translate(0,500px) rotate(200deg);
        width: 100px;
        height: 100px;
    }

    43% {
        transform: translate(0,200px) rotate(360deg);
    }

    45% {
        transform: translate(0,200px) rotate(380deg);
    }


    60% {
        transform: translate(0,500px) rotate(540deg);
        width: 100px;
        height: 100px;
    }
    
    62% {
        transform: translate(0,500px) rotate(550deg);
        width: 110px;
        height: 80px;
    }
       
    64% {
        transform: translate(0,500px) rotate(560deg);
        width: 100px;
        height: 100px;
    }

    75% {
        transform: translate(0,350px) rotate(720deg);
    }

    77% {
        transform: translate(0,350px) rotate(740deg);
    }

    90% {
        transform: translate(0,500px) rotate(900deg);
        width: 100px;
        height: 100px;
    }
    
    92% {
        transform: translate(0,500px) rotate(910deg);
        width: 110px;
        height: 90px;
    }
       
    94% {
        transform: translate(0,500px) rotate(920deg);
        width: 100px;
        height: 100px;
    }
    100%{
        transform: translate(0,500px) rotate(1100deg);
        width: 100px;
        height: 100px;
    }

}


@keyframes move{
    100%{
        left: 90%;
    }
}





